<% shops.each do |shop| %>
  <li class="list-group-item list-group-item-action" role="option" data-autocomplete-value="<%= shop.title %>" data-autocomplete-label="<%= shop.title %>">
    <%= shop.title %> - <%= shop.address %> <!-- 住所を追加 -->
  </li>
<% end %>