<div class="pb-16">
  <div class="h-screen flex flex-col items-center justify-center bg-center bg-cover" style="background-image: url('<%= asset_path 'sample.png' %>')">
    <div class="text-sky-50 text-6xl md:text-8xl font-bold p-4 font-sans">shadow</div>
    <div class="mt-32 text-sky-50 text-2xl font-bold bg-slate-900 opacity-80 p-4 rounded">h2</div>
    <div class="mt-16 grid grid-cols-1 md:grid-cols-2 gap-4 text-sky-50">
      <div class="card bg-sky-500 shadow-xl">
        <div class="card-body" style="background-image: url('<%= asset_path 'sample.png' %>'); background-size: cover; background-position: center;" aria-label="1">
          <h2 class="card-title">1</h2>
          <p>説明文</p>
        </div>
      </div>
      <div class="card bg-indigo-400 shadow-xl">
        <div class="card-body" style="background-image: url('<%= asset_path 'sample.png' %>'); background-size: cover; background-position: center;" aria-label="2">
          <h2 class="card-title">2</h2>
          <p>説明文</p>
        </div>
      </div>
    </div>
  </div>
</div>
