<footer class="fixed bottom-0 left-0 w-full bg-black text-white">
  <div class="flex items-center justify-between h-16">
    <nav class="items-center">
      <%= link_to "利用規約", "#", class: "text-white text-sm  ml-4" %>
      <%= link_to "プライバシーポリシー", "#", class: "text-white text-sm  ml-4" %>
      <%= link_to "お問い合わせ", "#", class: "text-white text-sm  ml-4" %>
    </nav>
    </nav>
    <aside class="text-white text-sm mr-4">シーシャ検索サイト｜name - ©</aside>
  </div>
</footer>
