<header class="bg-black fixed top-0 left-0 w-full z-10">
  <div class="flex items-center justify-between h-16">
    <div class="flex items-center">
      <a href="/" class="text-white text-2xl font-bold ml-4">シーシャ検索サイト</a>
    </div>
    <div class="flex-grow">
      <input type="text" data-controller="autocomplete" data-autocomplete-url-value="/search/autocomplete" placeholder="フリー検索" class="ml-4 w-100 h-10 px-4 bg-white text-black rounded-full">
    </div>
    <!-- Tailwind CSSを使用したハンバーガーメニューアイコンの追加 -->
    <div class="flex ml-auto">
      <button id="menu-toggle" class="text-white ml-4 mr-4 focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>
  <!-- ドロワーメニューの追加 -->
  <div id="drawer-menu" class="hidden absolute right-0 top-0 bg-black w-48 h-full">
    <a href="/" class="text-white block p-4">マイページ</a>
    <a href="/" class="text-white block p-4">ログアウト</a>
  </div>
</header>
